
<div class="container" ng-controller="NavController">
    <h1>Register</h1>
    <input ng-model="newuser.username" class="form-control" placeholder="Enter username" autofocus /><br />
    <input ng-model="newuser.password" class="form-control" type="password" placeholder="Enter password" /><br />
    <input ng-model="newuser.password2" class="form-control" type="password" placeholder="Comfirm password" /><br />
    <button ng-click="register_p(newuser)" class="btn btn-warning">Register</button><br />
</div>